
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    width: 100%;
}

.nav-bar {
    display: none;
}

header nav {
    background: #FFF;
    z-index: 1000;
    width: 100%;
    margin: auto;
}

    header nav ul {
        list-style: none;
    }

        header nav ul li {
            float: left;
            position: relative;
        }

    header nav:after {
        content: "";
        display: block;
        clear: both;
    }

    header nav ul li a {
        cursor: pointer;
        color: #a8a7a6;
        display: block;
        padding: 5px;
        text-decoration: none !important;
        font-size: 15px;
        font-family: tahoma;
    }

    header nav ul li:hover {
        background: #FFF;
        color: #808080;
        text-decoration: none;
    }

        header nav ul li:hover i {
            color: #808080;
        }

    header nav ul li i {
        margin-right: 10px;
    }

    header nav ul li:hover .children {
        display: block;
    }

    header nav ul li .children {
        display: none;
        background: #000;
        color: #f1f1f1;
        position: absolute;
        width: 150%;
        z-index: 1000;
    }

        header nav ul li .children span {
            display: none;
        }

        header nav ul li .children li {
            display: block;
            width: 100%;
            border-bottom: 1px solid #f1f1f1;
        }

            header nav ul li .children li:hover {
                display: block;
                width: 100%;
                background: #000;
                color: #FFF !important;
                border-bottom: 1px solid #f1f1f1;
            }

            header nav ul li .children li a {
                margin-left: 5px;
            }

            header nav ul li .children li:hover a {
                color: #FFF !important;
            }

    header nav ul li .fa-angle-down {
        position: relative;
        top: 3px;
    }

/*responsive nav style*/

@media all and (max-width: 800px) {

    body {
        padding-top: 80px;
    }

    .nav-bar {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background: #000;
    }

        .nav-bar span {
            float: right !important;
            font-size: 17px;
            font-weight: bold;
            padding: 20px;
            color: #fff;
        }

        .nav-bar .fa-bars {
            display: block;
            padding: 20px;
            color: #fff;
            overflow: hidden;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
            float: right;
        }

    header nav {
        width: 80%;
        height: auto;
        position: fixed;
        right: 100%;
        top: 63px;
        overflow: hidden;
        height: 100%;
    }

        header nav ul li {
            display: block;
            border-bottom: 1px solid #f1f1f1;
            width: 100%;
            text-align: left !important;
            float: left !important;
        }

    header ul li a {
        display: block;
    }

    header nav ul li .children {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: none;
    }

    header nav ul li:hover .children {
        display: none;
    }

    header nav ul li ul li:first-child {
        border-top: 1px solid #f1f1f1;
    }

    header nav ul li .children span {
        display: inline-block;
        margin-right: 10px;
    }

    header nav ul li .children a {
        margin-left: 10px;
        padding: 5px 0;
        float: left !important;
    }

    header nav ul li .fa-angle-down {
        position: relative;
        top: 3px;
        float: left !important;
    }
}
